<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- link to my css -->
    <link rel="stylesheet" href="css/style.css">
    <!-- linnk to my framework -->
    <link rel="stylesheet" href="css/framework.css">
    <!-- link to vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <!-- link to fontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>

    <div id="root">
        <div class="container h-100vh red-bord">
            <!-- header (logo) -->
            <header>
                <div class="logo-container txt-cen ptb-1rem w-75x m-auto mb-1rem blu-bord">
                    <img id="logo" class="w-50x" src="https://www.boolean.careers/images/misc/logo.png" alt="logo boolean">
                </div>
            </header>

            <!-- main -->
            <main>

                <!-- nav -->
                <div class="main-nav txt-cen ptb-1rem mb-1rem blu-bord">
                    <input @keyup.enter="addItem(task)" id="add-btn" v-model="task" type="text" placeholder="Add task">
                    <button @click="addItem(task)">Add</button>
                </div>

                <!-- to-do list -->
                <div class="to-do-list ptb-1rem blu-bord">
                    <ul class="ms_my-main-list clear-fix">
                        <li v-for="(task, index) in tasks">
                            {{task}}
                            <i @click="removeItem(index)" class="far fa-times-circle"></i>
                        </li>
                    </ul>
                </div>
            </main>

        </div>    
    </div>
    
    <!-- link to my script -->
    <script type="text/javascript" src="js/script.js"></script>

</body>
</html>